*
{
	margin:0;
	padding:0;
	
}

#content
{
	background: url('../img/programming2.jpg') center;
	background-size:cover;
	width:100vw;
	height:100vh;
	background-attachment:fixed;
	
}

header
{
	width:100%;
	background-color:#3C6CFF;
	text-align:center;
}



header h2
{
	text-align:center;
	letter-spacing:5px;
	color:white;
}



.menu
{
	list-style-type: none;
}

.menu li
{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	border-right:3px solid #0C1C33;
}

.menu li:first-child
{
	border-left:3px solid #0C1C33;
}

.menu a
{
	text-decoration:none;
	color:#0C1C33;
	font-weight:   ;
}

.container-footer
{
	background-color:black;
	display:block;
	height:200px;
	margin-bottom:0;
}